.product-section {
    padding-top: 17rem;
    padding-bottom: 10rem;
    .under-section-title {
        max-width: 980px;
    }
}

.component-grid {
    position: relative;
    margin-top: 5.2rem;
    overflow: hidden;

    .row {
        display: flex;
        position: relative;
        margin-left: -20px;
        overflow: hidden;
    }

    .component-grid__item-wr {
        width: 25%;
        box-sizing: border-box;
        padding-left: 20px;
        
        &:nth-child(2){
            .component-grid__item {
                svg{
                    top: 3px;
                }
            }
        }
    } 
}


.component-grid-item {
    background-color: var(--gray);
    box-sizing: border-box;
    padding: 25px 25px;

    .component-grid-item__caption { 
        display: flex;
        align-items: flex-start;
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 1.3;
        font-weight: 700;
        svg{
            position: relative;
            top: -3px;
            display: block;
            margin-right: 7px;
        }
        &:nth-child(2){
            svg{
                top: 3px;
            }
        }
    }

    p {
        font-size: 15px;
        line-height: 1.4;
        color: var(--light-gray);
    }
}