.training-section{
    padding-top: 20.7rem;
    padding-bottom: 15rem;
    .inner{
        display: flex;
        justify-content: space-between;
    }
    .left-col{
        position: relative;
        display: flex;
        align-items: center;
        width: 45%;
        max-width: 595px;
        padding: 0 12px;
        box-sizing: border-box;
        z-index: 4;
        .flashlight{
            top: 50%;
            left: 50%;
        }
        img{
            position: relative;
            z-index: 1;
        }
    }
    .right-col{ 
        padding-top: 18px;
        width: 50%;
        max-width: 687px;
        
    }
}
.traning-info{
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    margin-top: 3.4rem;
    .training-info__item{
        svg{
            margin-bottom: 2px;
        }
        p{
            font-size: 1.5rem;
        }
    }
}
.training-section__btn-box{
    display: flex;
    margin-top: 5rem;
    .btn{
        padding: 1.8rem 4rem;
        &:not(:last-child){
            margin-right: 20px;
        }
    }
}